<!DOCTYPE html>
<html lang="en" data-theme="coffee">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
</head>
<body class="h-screen flex flex-col items-center justify-center p-4">
    <div class="text-center">
        <h1 class="text-9xl font-black text-error animate-bounce">404</h1>
        <p class="text-3xl font-bold mt-4 uppercase"><%= message %></p>
        <p class="mt-4 italic">The Log Pose is broken. You are drifting into the Calm Belt.</p>
        <a href="/" class="btn btn-primary btn-outline mt-10 btn-lg">Return to Port</a>
    </div>
</body>
</html>